.main-content {
  padding: 5px;
  overflow: hidden;
}

.content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.data-table::-webkit-scrollbar {
  display: none;
}

.edit-save-btn {
  color: #13c2c2;
  border-color: #13c2c2;
}
.edit-save-btn:hover {
  background-color: #13c2c2;
  color: white;
}

.deletebtn {
  color: #ff7a45;
  border-color: #ff7a45;
}

.deletebtn:hover {
  background-color: #ff7a45;
  border-color: #ff7a45;
  color: white;
}

.deletebtn:focus {
  background-color: #ff7a45;
  border-color: #ff7a45;
  color: white;
}

.cancelbtn {
  color: #f5222d;
  border-color: #f5222d;
  background-color: white;
}

.cancelbtn:hover {
  color: white;
  border-color: #f5222d;
  background-color: #f5222d;
}

.date {
  width: 40px;
}

.account {
  width: 40px;
}

.to {
  width: 40px;
}

.amount {
  width: 40px;
}

.type {
  width: 40px;
}

.payee {
  width: 40px;
}

.category {
  width: 40px;
}

.note {
  width: 200px;
  min-width: 200px;
}

.ant-tabs-nav-scroll {
  /*border-style: solid;*/
  margin-left: 16px;
}

/*
.section-search {
  border-style: solid;
}
*/

/*
.ant-table-content {
  border-style: solid;
}
*/

.create-one {
  /*border-style: solid;*/
  text-align: left;
}

.ant-form-item-control-input-content > div {
  padding-left: 0px;
  margin-left: 0px;
}

.section-search {
  text-align: left;
}

#root {
  height: 100%;
}

.main-content {
  height: calc(100% - 3em);
}

.ant-tabs.ant-tabs-top.ant-tabs-line {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.ant-tabs-content.ant-tabs-content-animated.ant-tabs-top-content {
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  position: absolute;
}
