.main-content {
  min-width: 85vw;
  padding: 5px;
}

.content {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.section-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.search-field {
  margin: auto 4px;
}
.edit-save-btn {
  color: #13c2c2;
  border-color: #13c2c2;
}
.edit-save-btn:hover {
  background-color: #13c2c2;
  color: white;
}

.deletebtn {
  color: #ff7a45;
  border-color: #ff7a45;
}

.deletebtn:hover {
  background-color: #ff7a45;
  border-color: #ff7a45;
  color: white;
}

.cancelbtn {
  color: #f5222d;
  border-color: #f5222d;
  background-color: white;
}

.cancelbtn:hover {
  color: white;
  border-color: #f5222d;
  background-color: #f5222d;
}
